h1
{
    color: #1eb62df9;
}

.container
{
    display: grid;
}

.gameBoardContainer
{
    display: grid;
    border: 2px #252b26f9 solid;
    width:9rem;
    height:10rem;
    margin-left:150px;
}

.boardInfo, td, tr
{
border:5px solid black;
padding:2rem;
border-collapse: collapse;
}

button
{
    padding:1rem;
    font-size: 1rem;
}

#grid-0
{

}