html{
    font-size:16px;
}
h1
{
    color: #1eb62df9;
}

.container
{
    display: grid;
}

.gameContainer
{
    background-color: #eba122f9;
    padding:2rem;
}

.gameBoardContainer
{
    display: grid;
    border: 2px #252b26f9 solid;
    width:15rem;
    height:15rem;
    /* margin-left:1rem; */
    padding:1rem;
}

.gameDashboard
{
    display:grid;
    grid-template-rows: repeat(1,2fr);
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;

}
    


/* .gameStatus
{

}


.gameControl
{

} */

.boardInfo, td, tr
{
border:5px solid black;
padding:2rem;
border-collapse: collapse;
}

.gameBoardContainer button
{
    /* padding:1rem; */
    width:4rem;
    height: 4rem;
    font-size: 1rem;
}

#grid-0
{

}